@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  @apply w-full bg-[url('../src/assets/numeros.jpg')] bg-no-repeat bg-cover;
}
